<p>viewproduct works!</p>
<div *ngFor="let p of products" style="width: 300px;">
    <div *ngIf="p">
      <div>
        <label>Id: </label> {{p.pid}}
      </div>
      <div>
        <label>Name: </label> {{p.pname}}
      </div>
      <div>
        <label>Price: </label> {{p.price}}
      </div>
      <div>
        <button (click)='remove(p.pid)'>Delete</button>
        <button (click)='detail(p.pid)'>Detail</button>
        <button (click)='detail(p.pid)'>Edit</button>

    </div>
      
      <hr/>
  </div>
  </div>

 
  <div *ngIf="product.pid>0"> 
    <div>
      <label>Product Id: </label> {{product.pid}}
    </div>
    <div>
      <label>Name Of Product: </label> {{product.pname}}
    </div>
    <div>
      <label>Price Of Product: </label> {{product.price | currency}}
    </div>
  </div>

  <hr>
 
<form (ngSubmit)="editproduct()">
    <div class="form-group">
      <label for="pid">Pid</label>
      <input type="text" class="form-control" id="pid" required [(ngModel)]="product.pid" name="pid">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="pname" required [(ngModel)]="product.pname" name="pname">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
      </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>