

<div class="container">  
    <h1>Hero Form</h1>  
<form (ngSubmit)="add()">  
 
<div class="form-group">  
        <label for="name">Name</label>  
        <input type="text" name= "name" [(ngModel)] = "model.name" class="form-control" id="name" required >  
</div>
 
<div class="form-group">  
    <label for="alterEgo">Alter Ego</label>  
    <input type="text" name= "alterEgo" [(ngModel)] = "model.alterEgo" class="form-control" id="alterEgo">  
  </div> 
  <div class="form-group">         

    <div class="form-group">
            <label for="power">Hero Power</label>
            <select name= "power" [(ngModel)] = "model.power" class="form-control" id="power" required>
              <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
    </div>
    <button (click)="add();" type="submit" class="btn btn-success">Submit</button> 
</div>