
 <p style="margin-left: 150px;"><b>ANGULAR OPERATION</b></p><br>
<table style="margin-left: 100px;">
<tr><th align="left">ID</th>
<td><input type="text" [(ngModel)]='id' ></td>
</tr>
<tr><th align="left">Name</th>
<td><input type="text" [(ngModel)]='name' ></td>
</tr>
<tr>
<th align="left">Salary</th>
<td><input type="number" [(ngModel)]='salary'></td>
</tr>
<tr>
<th align="left">Department</th>
<td><input type="text" [(ngModel)]='department'></td>
</tr>
<tr><button (click)="add()">Add Employee</button>
</tr>
</table>
<br> 
<p><br> {{id}} {{name}} {{salary}} {{department}}</p> 