<br>
<div class="jumbotron" style="background-color:rgb(65, 92, 173);">
<div class = "container">
 
<h1 style = " text-align: center; color: white;">
    ADD NEW CUSTOMER TO LIST
</h1>
</div>
</div>
<form (ngSubmit)="saveproduct()">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="customerId">Customer Id :</label>
        <input type="number" class="form-control" required [(ngModel)]="customer.customerId" name="customerId" id="customerId" placeholder="Enter customerId" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="customerName">Customer Name :</label>
        <input type="text" class="form-control" required [(ngModel)]="customer.customerName"  name="customerName" id="customerName" placeholder="Enter customerName">
      </div>
      <div class="form-group col-md-3">
        <label for="customerPassword">Customer Password :</label>
        <input type="text" class="form-control" required [(ngModel)]="customer.customerPassword"  name="customerPassword" id="customerPassword" placeholder="Enter customerPassword">
      </div>
    <div class="form-group col-md-3">
      <label for="mobileNo">Mobile No :</label>
      <input type="number" class="form-control" required [(ngModel)]="customer.mobileNo" name="mobileNo" id="mobileNo" placeholder="Enter mobileNo">
    </div>
    <div class="form-group col-md-3">
      <label for="email">Email Id :</label>
      <input type="email" class="form-control" required [(ngModel)]="customer.email" name="email" id="email" placeholder="Enter Email Id">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="addressId">Address Id :</label>
      <input type="number" class="form-control" required [(ngModel)]="customer.address.addressId"  name="addressId" id="addressId" placeholder="Enter addressId" disabled>
    </div>
    <div class="form-group col-md-3">
      <label for="buildingNo">Building No :</label>
      <input type="number" class="form-control" required [(ngModel)]="customer.address.buildingNo" name="buildingNo" id="buildingNo" placeholder="Enter buildingNo">
    </div>
    <div class="form-group col-md-3">
      <label for="streetName">Street Name :</label>
      <input type="text" class="form-control" required [(ngModel)]="customer.address.streetName" name="streetName" id="streetName" placeholder="Enter streetName">
    </div>
    <div class="form-group col-md-3">
      <label for="area">Area :</label>
      <input type="text" class="form-control" required [(ngModel)]="customer.address.area" name="area"  id="area" placeholder="Enter area">
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="city">City :</label>
        <input type="text" class="form-control" required [(ngModel)]="customer.address.city" name="city" id="city">
      </div>
      <div class="form-group col-md-3">
        <label for="state">State :</label>
        <input type="text" required [(ngModel)]="customer.address.state" name="state" id="state" class="form-control">
      </div>
      <div class="form-group col-md-3">
        <label for="zip">Zip :</label>
        <input type="text" required [(ngModel)]="customer.address.zip" class="form-control" name="zip" id="zip">
      </div>
      <div class="form-group col-md-3">
        <label for="role">Role :</label>
        <input type="text"  required [(ngModel)]="customer.role" class="form-control" name="role" id="role">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  